@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'poppins';
    text-transform: capitalize;
    transition: background-color 1.2s ease-in-out;
    background-color: #5c4680;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    width: 400px;
    height: 500px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.container-login, .container-signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    transition: transform 0.4s ease-in-out;
}
.container-login {
    left: 0;
    transform: translateX(0);
}
.container-signUp {
    left: 0;
    transform: translateX(100%);
}
.container-signUp h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.wrapper.active .container-login {
    transform: translateX(-100%);
}
.wrapper.active .container-signUp {
    transform: translateX(0);
}


.container-login h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'poppins';
}
.input-group {
    display: flex;
    align-items: center;
    position: relative;
    width: 320px;
    margin: 15px 0;
}
.input-group input {
    width: 100%;
    height: 40px;
    padding: 0 0;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
    font-family: 'poppins';
    text-transform: capitalize;
}
.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: .4s;
    pointer-events: none;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -5px;
    color: #000000;
    font-weight: 500;
}
.remember-forgot {
    margin-top: 5px;
}
.remember-forgot a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'poppins';
    font-weight: 600;
    margin-top: 30px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    transition: .4s;
    position: relative;
    overflow: hidden;
}
.btn-wrapper {
    position: absolute;
    background-color: #8467b2;
    top: 0;
    left: 0;
    border-radius: 20px;
    width: 0%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
button:hover {
    background-color: #525252;
    color: white;
}
.sign-links {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}
.sign-links a {
    display: inline-block;
    color: white;
    margin-left: 10px;
    text-decoration: none;
    transition: .4s;
}
.sign-links a:hover {
    color: #5290b7;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 8px;
    font-size: 20px;
    text-decoration: none;
    transition: .4s;
}
.social-icons a:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.curved {
    position: absolute;
    background: #976ed7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    clip-path: circle(98% at 0 0);
    border-radius: 20px;
    transition-delay:  1.2s;
}
.bg-animate {
    position: absolute;
    background-color: #976ed7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
    clip-path: circle(0% at 0 0);
}
.bg-animate.active {
    transition: clip-path 1.2s ease-in-out;
    clip-path: circle(98% at 0 0);
}



.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    display: flex;
    width: 50px;
    background-color: rgb(36, 35, 35);
    height: 200px;
    gap: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.color {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    transition:  .5s;
}
.color:hover {
    border: 2px solid white;
}

.colors .color {
    background: var(--clr);
}

.colors .color.active {
    border: 2px solid white;
    transform: scale(.7);
}

@media (max-width: 720px){
    .wrapper {
        width: 350px;
        height: 500px;
    }
    .container-login {
        width: 100%;
        height: 100%;
    }
    .colors {
        display: flex;
        flex-direction: row;
        bottom: 5px;
        width: 320px;
        height: 60px;
        border-radius: 50px;
        left: 50%;
        transform: translateX(-50%);
    }
    button {
        height: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .color {
        width: 45px;
        height: 45px;
        margin: 0 10px 0;
    } 
}

.popup-wrapper {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: transform 0.4s ease;
    transform: scale(0);
}
.popup {
    width: 400px;
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.popup h2 {
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
}




